body {
  background-color: lightyellow;
}

form {
  background-color: gold;
  text-align: center;
}

#photos figure {
  display: inline-block;
  float: left;
}

figure figcaption {
  display: inline;
}

#photos img {
  max-width: 320px;
}
