.button {
	font-size: 1.2em;
	font-family: inherit;
	color: inherit;
	border-radius: $small-radius;
	max-width: 100%;
	padding: 0.8em 1.6em;
	outline: none;
	-webkit-appearance: none;
	cursor: pointer;
//	box-shadow: 0 1px 1px $h-color; 
	background-color: darken($background-colour, 9%);
	border: 1px solid darken($background-colour, 18%);
	&:hover {
		background-color: darken($background-colour, 15%);
		border: 1px solid darken($background-colour, 30%);
	}
	a {
		text-decoration: none;
		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	}
}
