* {
	box-sizing: border-box;
}
html {
	height: 100%;
}
body {
//	max-width: 26em;
	margin: 0;
	height: 100%;
//	padding: 3em;
}
.site-title, .tagline, .call-to-action {
	text-align: center;
	.image {
		width: 380px;
	}
}
.image {
	max-width: 100%;
}
.page-wrap {
	width: 85%;
	margin: 90px auto;
}