* {
	box-sizing: border-box;
}
html {
	height: 100%;
}
body {
	margin: 0;
	height: 100%;
}
.site-title, .tagline, .call-to-action {
	text-align: center;
	.image {
		width: 380px;
	}
}
.image {
	max-width: 100%;
}
.page-wrap {
	width: 85%;
	margin: 0 auto;
	padding-top: 90px;
}